# Dependency directories
node_modules/

# Environment variables
.env

# Build/dist folders (for production builds if you have them)
dist/
build/

# Other files you might want to ignore
npm-debug.log
# ... any IDE specific files like .vscode/